/* 
    RESET
*/

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


/* 
    VARIABLES
*/
    :root {
        
        /* Color Palette */
        
        --main_color: #340068;
        --white: #FFFFFF;
        --secondary_color: #7DCFB6;

    }


/* 
    GENERAL
*/


/* 
    MAIN
*/
