/* 
    RESET
*/

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


/* 
    VARIABLES
*/
    :root {

        /* Color Palette */
        
        --white: #FFFFFF;
        --black: #000000;
        --main_color: #1B998B;
        --secondary_color: #FF9B71;
    }


/* 
    GENERAL
*/

.mb_20 {
    margin-bottom: 1.25rem;
}

.p_3 {
    padding: .1875rem;
}

.bg_secondary {
    background-color: var(--secondary_color);
}

.row {
    min-height: 3.125rem;
    line-height: 3.125rem;
    text-align: center;
    background-color: var(--main_color);
    color: var(--white);
}


.row > * {
    border: .0625rem solid var(--white);
}
